*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background-color: rgb(184, 235, 250);
    font-family: 'Hind Siliguri', sans-serif
}
main{
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.con{
    width: 70%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1080px;
}
.mon{
    margin: auto;
    height: 700px;
    width: 85%;
    background-color: rgb(184, 235, 250);
    -webkit-box-shadow: 38px 13px 33px -8px rgba(34, 60, 80, 0.61);
    -moz-box-shadow: 38px 13px 33px -8px rgba(34, 60, 80, 0.61);
    box-shadow: 38px 13px 33px -8px rgba(34, 60, 80, 0.61);
}
.item{
    max-width: 520px;
    max-height: 260px;
    background-color: rgb(255, 0, 0);
    margin: 10px;
    width: calc(95vw / 2 - 10px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: calc(95vw/2/8*9);
    background-position: center;
    background-size: cover;
    transition: 0.3s;
   
}
.item:hover{
    transition: 0.3s;
    transform: scale(1.2);
    -webkit-box-shadow: 38px 13px 33px -8px rgba(34, 60, 80, 0.61);
    -moz-box-shadow: 38px 13px 33px -8px rgba(34, 60, 80, 0.61);
    box-shadow: 38px 13px 33px -8px rgba(34, 60, 80, 0.61);
    transition: box-shadow 0.5s, transform 0.5s;;
    opacity: 0.9;
    transform: scale(1.2);
    box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
    transition: box-shadow 0.5s, transform 0.5s;
    z-index: 9999;

}
.header{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 187, 97);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
}
.footer{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 187, 97);
    font-family: 'Jost', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
a{
    font-size: 50px;
    text-decoration: none;
    color:rgb(184, 235, 250);
}

@media all and (max-width: 1024px){
.item{
    max-width: initial;
    max-height: initial;
    width: 95vw;
    height: calc(95vw / 16 * 9);
}
.con{
        width: 90%;
    }
        
    
}
